.btnDiv {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin: 1rem;
}

.cards {
  height: 700px;
  cursor: pointer;
}

.cardImg {
  height: 450px;
}

.CommentArea {
  border: 3px solid grey;
  width: 400px;
  height: 500px;
  border-radius: 10px;
  position: fixed;
  z-index: 1000;
  margin-left: 50px;
}
